In [7]:
import pandas as pd

# Creating a sample DataFrame
data = {
    'Name': ['John', 'Emma', 'Ryan', 'Lisa', 'Michael'],
    'Age': [25, 30, 35, 28, 40],
    'Salary': [50000, 60000, 70000, 55000, 80000]
}
df = pd.DataFrame(data)
print(df)

      Name  Age  Salary
0     John   25   50000
1     Emma   30   60000
2     Ryan   35   70000
3     Lisa   28   55000
4  Michael   40   80000

In [2]:
# Accessing a column by name
name_column = df['Name']
print("Name Column:")
print(name_column)

Name Column:
0       John
1       Emma
2       Ryan
3       Lisa
4    Michael
Name: Name, dtype: object

In [3]:
# Accessing a column by index
age_column = df.iloc[:, 1]  # Assuming 'Age' column is the second column (index 1)
print("\nAge Column:")
print(age_column)

Age Column:
0    25
1    30
2    35
3    28
4    40
Name: Age, dtype: int64

In [4]:
# Accessing a column by name using loc
salary_column = df.loc[:, 'Salary']
print("\nSalary Column:")
print(salary_column)

Salary Column:
0    50000
1    60000
2    70000
3    55000
4    80000
Name: Salary, dtype: int64

In [5]:
# Accessing multiple columns by name
selected_columns = df[['Name', 'Salary']]
print("\nSelected Columns:")
print(selected_columns)

Selected Columns:
      Name  Salary
0     John   50000
1     Emma   60000
2     Ryan   70000
3     Lisa   55000
4  Michael   80000

In [6]:
# Boolean indexing to select rows based on column values
selected_rows = df[df['Age'] > 30]['Name']
print("\nSelected Rows where Age > 30:")
print(selected_rows)

Selected Rows where Age > 30:
2       Ryan
4    Michael
Name: Name, dtype: object